#root {
    --details: #f64328;
    --offbf: #252526;
    --text: #C5C3C6;
    --background: #3b3b3b;
    --br: #f67428;

    --color-danger: #FF0060;
    --color-success: #1B9C85;
    --color-warning: #F7D060;

    --color-background:  #181a1e;
    --color-white: #202528;
    --color-dark: #edeffd;
    --color-dark-variant: #a3bdcc;
    --color-light: rgba(0, 0, 0, 0.4);
    --box-shadow: 0 2rem 3rem var(--color-light);
}

* {
    color: white;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    user-select: none;
}

/* ---------------------------------------------mainWindow------------------------------------------------- */

.mainWindow {
    width: 100vw;
    height: 100vh;
    display: flex;
    background-color: var(--color-background);
    padding: 20px;
}

/* ----------------------------------------------navBar---------------------------------------------------- */

.navBar {
    min-width: 200px;
    min-height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px 0 20px 0;
    gap: 20px;
}
.navBar-buttons {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction:column;
    background-color: var(--color-white);
    box-shadow: var(--box-shadow);
    border-radius: 10px;
    padding-top: 20px ;
    gap: 5px;
}

.navBar-button {
    width: auto;
    height: 50px;
    display: flex;
    align-items: center;
    cursor: pointer;
    margin-left: 40px;
}

.navBar-button:hover {
    color: var(--br);
    margin-left: 0;
    padding-left: 30px;
    background-color: var(--color-background);
}

/* -----------------------------------------------Clock---------------------------------------------------- */
.clock {
    width: 200px;
    height: 80px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: var(--color-white);
    box-shadow: var(--box-shadow);
    border-radius: 10px;
}

/* ------------------------------------------displayWindow------------------------------------------------- */

.displayWindow {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px 0 20px 0;
}

/* ------------------------------------------lateralWindow------------------------------------------------- */

.lateralWindow {
    min-width: 186px;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px 0 20px 0;
    gap: 20px;
}
.lateralInventori {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px 0 20px 0;
    background-color: var(--color-white);
    box-shadow: var(--box-shadow);
    border-radius: 10px;
}

/* --------------------------------------------playerInfo-------------------------------------------------- */

.playerInfo{
    width: 100%;
    height: fit-content;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--color-white);
    box-shadow: var(--box-shadow);
    border-radius: 10px;
    padding: 10px 0 10px 0;
}

/* -------------------------------------------playerStatus------------------------------------------------- */

.playerStatus {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    padding: 0 20px;
    gap: 20px;
}

.playerStatus div {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 400px;
    height: fit-content;
    background-color: var(--color-white);
    box-shadow: var(--box-shadow);
    border-radius: 10px;
    padding: 20px;
}

.playerStatus h4 {
    text-align: center;
    width: 100%;
    text-align: center;
    border-bottom: 1px solid white;
    margin-bottom: 5px;
}
.playerStatus span {
    text-transform: capitalize;
}

/* ---------------------------------------------inventori-------------------------------------------------- */

.inventori {
    width: 186px;
    height:fit-content;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
    gap: 5px;
}

.inventori-container {
    width: 100%;
    display: flex;
    flex-flow: row wrap;
    overflow: hidden;
    gap: 1px;
}

.inventori-button {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
}

.itemSlot {
    width: 32px;
    height: 32px;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid black;
    border-radius: 5px;
    font-size: 12px;
}

.itemImg {
    width: 30px;
    height: 30px;
}

#Common {
    border: 1px solid gray;
}

#Rare {
    border: 1px solid blue;
}

#Epic {
    border: 1px solid red;
}

#Legendary {
    border: 1px solid yellow;
}

/* ---------------------------------------------itemMenu--------------------------------------------------- */

.itemMenu {
    width: 80px;
    height: fit-content;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    position: absolute;
    background-color: var(--color-light);
    box-shadow: var(--box-shadow);
    border-radius: 10px;
    padding: 10px 0;
    gap: 2px;
}

.itemMenu span {
    width: 100%;
    height: 25px;
    display: flex;
    align-items: center;
    cursor: pointer;
    padding-left: 10px;
}

.itemMenu span:hover {
    color: var(--br);
}

/* ---------------------------------------------infoWindow-------------------------------------------------- */

.infoWindow {
    width: 190px;
    height: fit-content;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--background);
    box-shadow: var(--box-shadow);
    border-radius: 10px;
    padding: 10px;
    z-index: 3;
    gap: 5px;
}

.infoHeader {
    width: 100%;
    height: 60px;
    display: flex;
    align-items: center;
    border-bottom: 1px solid var(--color-success);
}

.headerText {
    width: 100%;
    height: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 14px;
    padding: 5px;
}

.headerText #desc {
    font-size: 12px;
}

.infoBody {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    padding: 2px;
}
.infoWindow #closeBtn {
    width: 60px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: black;
    font-weight: bold;
    background-color: var(--color-success);
    box-shadow: var(--box-shadow);
    cursor: pointer;
    border-radius: 10px;
}

/* --------------------------------------------sellWindow-------------------------------------------------- */

.sellWindow {
    width: 100px;
    height: fit-content;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    position: absolute;
    border: 1px solid black;
    border-radius: 5px;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 2px;
}
.sellWindow input {
    width: 50px;
    color: black;
}
.sellWindow form {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 2px;
}
.sellWindow span {
    display: flex;
    gap: 5px;
}

/* -----------------------------------------------arena---------------------------------------------------- */

.arena {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.arena button {
    color: black;
}

.entitieCard {
    width: 500px;
    height: 125px;
    display: flex;
    align-items: center;
    background-color: var(--color-white);
    box-shadow: var(--box-shadow);
    border-radius: 10px;
    padding: 10px;
}

.entitieCardB {
    width: 50px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: black;
    font-weight: bold;
    background-color: var(--color-success);
    box-shadow: var(--box-shadow);
    border-radius: 10px;
    cursor: pointer;
    margin-left: auto;
}
.block {
    background-color: grey;
}

.entitieCard #info {
    width: 120px;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.lootShow {
    width: 80px;
    height: fit-content;
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    gap: 2px;
}

/* ----------------------------------------------battle---------------------------------------------------- */

.battle {
    width: 200px;
    height: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: var(--color-white);
    box-shadow: var(--box-shadow);
    border-radius: 10px;
    margin-right: 10px;
}
.battleLateral {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.battleLog {
    width: 143px;
    height: 196px;
    display: flex;
    flex-direction: column;
    overflow-y: scroll;
    font-size: 14px;
    background-color: var(--color-white);
    box-shadow: var(--box-shadow);
    border-radius: 10px;
    padding: 2px;
    margin-bottom: 10px;
}
.battleLoot {
    width: 143px;
    height: 76px;
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    background-color: var(--color-white);
    box-shadow: var(--box-shadow);
    border-radius: 10px;
    padding: 5px;
    gap: 1px;
}
.battle-buttons {
    width: 100% ;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}
.battle-buttons span {
    width: 60px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: black;
    font-weight: bold;
    background-color: var(--color-success);
    box-shadow: var(--box-shadow);
    cursor: pointer;
    border-radius: 10px;
}

/* ---------------------------------------------ToolWork--------------------------------------------------- */

.toolWork {
    width: 200px;
    height: 200px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: 1px solid var(--br);
    border-radius: 5px;
    background-color: var(--offbf);
}
.toolWork span {
    width: 60px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: black;
    font-weight: bold;
    background-color: var(--color-success);
    box-shadow: var(--box-shadow);
    cursor: pointer;
    border-radius: 10px;
}


/* -------------------------------------------exploration-------------------------------------------------- */

.exploration {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.location {
    width: 100px;
    height: fit-content;
    display: flex;
    flex-direction: column;
    background-color: var(--color-white);
    box-shadow: var(--box-shadow);
    border-radius: 10px;
    padding: 10px 0 10px 0;
    gap: 5px;
}
.location span {
    width: 100%;
    height: 30px;
    display: flex;
    align-items: center;
    padding-left: 20px;
}
.location span:hover {
    color: var(--br);
    margin-left: 0;
    padding-left: 15px;
    background-color: var(--color-background);
}
.exp-Engaged {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    overflow-y: scroll;
    flex-direction: column;
    gap: 10px;
}
.exp-Title {
    width: 500px;
    height: 40px;
    display: flex;
    align-items: center;
    gap: 10px;
}
.exp-Title p {
    width: 100%;
    height: 40px;
    display: flex;
    justify-content: center;
    font-size: 2rem;
    background-color: var(--color-white);
    box-shadow: var(--box-shadow);
    border-radius: 10px;
}
.exp-Back {
    width: 70px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--color-white);
    box-shadow: var(--box-shadow);
    border-radius: 10px;
    cursor: pointer;
    padding: 5px;
}

/* -----------------------------------------------shop----------------------------------------------------- */

.shop {
    background-color: var(--color-white);
    box-shadow: var(--box-shadow);
    border-radius: 10px;
}

/* ----------------------------------------------stash----------------------------------------------------- */

.stash {
    background-color: var(--color-white);
    box-shadow: var(--box-shadow);
    border-radius: 10px;
}

/* ----------------------------------------------avatar---------------------------------------------------- */

.avatar {
    width: 64px;
    height: fit-content;
    max-height: 96px;
}
.avatar img {
    width: 100%;
    height: auto;
}

/* --------------------------------------------progressBar------------------------------------------------- */

.progressContainer {
    width: 120px;
    height: 14px;
    background-color: gray;
    overflow: hidden;
    border-radius: 5px;
    margin-bottom: 4px;
}
.progressBar {
    width: 0%;
    height: 100%;
    display: flex;
    align-items: center;
}
.pb-value {
    position: absolute;
    width: 120px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-size: 14px;
    font-weight: 200;
    border-radius: 5px;
}

/* ----------------------------------------------Recipe---------------------------------------------------- */
.workStation {
    width: 500px;
    height: 60%;
    display: flex;
    flex-direction: column;
    padding: 10px;
    gap: 5px;
}
.workStation-header {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.workStation-header h2 {
    margin: auto;
}
.workStation-body {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    gap: 5px;
}
.recipeNav {
    width: 200px;
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 2px;
    overflow-y: scroll;
    background-color: #252526;
}
.recipeInfo {
    width: 300px;
    height: 100%;
    display: flex;
    flex-direction: column;
    background-color: #252526;
}
.recipeInfo-header {
    width: 100%;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
}
.recipeInfo-body {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.recipeInfo-footer {
    width: 100%;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2px;
}
.recipeInfo-button {
    width: 100%;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
}
#craft-range {
    min-width: 30px;
    max-width: 200px;
}
.recipeCard {
    width: 100%;
    height: 60px;
    display: flex;
    align-items: center;
    border-radius: 5px;
    background-color: rgba(0, 0, 0, 0.8);
    padding: 10px;
}
.matts {
    display: flex;
    margin-left: 50px;
    margin-right: auto;
    gap: 2px;
}

/* -----------------------------------------------Town----------------------------------------------------- */

.town {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    overflow-y: scroll;
}
.townSection {
    width: fit-content;
    height: 100px;
    display: flex;
    align-items: center;
    gap: 10px;
}
.townButton {
    width: 250px;
    min-height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    background-color: var(--color-white);
    box-shadow: var(--box-shadow);
    border-radius: 10px;
}
.townButton:hover {
    background-color: var(--color-success);
    color: black;
}

/* -----------------------------------------------Home----------------------------------------------------- */
.home {
    width: 100%;
    height: 100%;
    display: flex;
    background-image: url("./Img/HomeBg.png") ;
    background-repeat: no-repeat;
    background-position: center;
    padding: 5px;
}

.home-navBar {
    width: 185px;
    height: 220px;
    display: flex;
    flex-direction: column;
    border-radius: 5px;
    background-color: rgba(0, 0, 0, 0.7);
    padding: 5px;
}

/* ------------------------------------------------nn------------------------------------------------------ */

.blur {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    z-index: 2;
}

::-webkit-scrollbar {
    display: none;
}



