#root {
    --details: #f64328;
    --offbf: #252526;
    --text: #C5C3C6;
    --background: #3b3b3b;
    --br: #f64328;
}

* {
    color: white;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    user-select: none;
}

/* ---------------------------------------------mainWindow------------------------------------------------- */

.mainWindow {
    width: 100vw;
    height: 100vh;
    display: flex;
    background-color: var(--background);
}

/* ----------------------------------------------navBar---------------------------------------------------- */

.navBar {
    width: 150px;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: 2px solid var(--br);
    background-color: var(--offbf);
}

.navBar span {
    width: 80%;
    text-align: center;
    margin-bottom: 5px;
    cursor: pointer;
    border-bottom: 1px solid white;
}

.navBar span:hover {
    color: var(--br);
}

/* ------------------------------------------displayWindow------------------------------------------------- */

.displayWindow {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* ------------------------------------------lateralWindow------------------------------------------------- */

.lateralWindow {
    width: 186px;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 2px solid var(--br);
    background-color: var(--offbf);
    padding: 5px;
}
.lateralInventori {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* --------------------------------------------playerInfo-------------------------------------------------- */

.playerInfo{
    width: 100%;
    height: 200px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 10px;
}

/* -------------------------------------------playerStatus------------------------------------------------- */

.playerStatus {
    width: 100%;
    height: 100%;
    display: flex;
    padding: 5px;
    gap: 5px;
}

.playerStatus div {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 100%;
    border: 1px solid var(--br);
    border-radius: 5px;
}

.playerStatus h4 {
    text-align: center;
    width: 90%;
    text-align: center;
    border-bottom: 1px solid white;
    margin-bottom: 5px;
}
.playerStatus span {
    text-transform: capitalize;
}

/* ---------------------------------------------inventori-------------------------------------------------- */

.inventori {
    width: 170px;
    height: fit-content;
    min-height: 40px;
    max-height: 310px;
    display: flex;
    flex-flow: row wrap;
    overflow-y: scroll;
    border: 1px solid var(--br);
    border-radius: 5px;
    gap: 1px;
    padding: 2px;
}

.itemSlot {
    width: 32px;
    height: 32px;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid black;
    border-radius: 5px;
    font-size: 12px;
}

.itemImg {
    width: 30px;
    height: 30px;
}

#Common {
    border: 1px solid gray;
}

#Rare {
    border: 1px solid blue;
}

#Epic {
    border: 1px solid red;
}

#Legendary {
    border: 1px solid yellow;
}

/* ---------------------------------------------itemMenu--------------------------------------------------- */

.itemMenu {
    width: 70px;
    height: fit-content;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    position: absolute;
    border: 1px solid black;
    border-radius: 5px;
    background-color: rgba(0, 0, 0, 0.5);
}

.itemMenu span {
    cursor: pointer;
}

.itemMenu span:hover {
    color: var(--br);
}

/* ---------------------------------------------infoWindow-------------------------------------------------- */

.infoWindow {
    width: 180px;
    height: fit-content;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid var(--br);
    border-radius: 5px;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 5px;
    z-index: 3;
    gap: 5px;
}

.infoHeader {
    width: 100%;
    height: 60px;
    display: flex;
    align-items: center;
    border-bottom: 1px solid var(--br);
}

.headerText {
    width: 100%;
    height: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 14px;
}

.headerText #desc {
    font-size: 12px;
}

.infoBody {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    padding: 2px;
}

.infoWindow #closeBtn:hover {
    color: var(--br);
}

/* --------------------------------------------sellWindow-------------------------------------------------- */

.sellWindow {
    width: 100px;
    height: fit-content;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    position: absolute;
    border: 1px solid black;
    border-radius: 5px;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 2px;
}
.sellWindow input {
    width: 50px;
    color: black;
}
.sellWindow form {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 2px;
}
.sellWindow span {
    display: flex;
    gap: 5px;
}

/* -----------------------------------------------arena---------------------------------------------------- */

.arena {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.arena button {
    color: black;
}

.entitieCard {
    width: 80%;
    height: 125px;
    display: flex;
    align-items: center;
    background-color: var(--offbf);
    border: 2px solid var(--br);
    border-radius: 5px;
    padding: 2px;
}

.entitieCardB {
    width: 50px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: black;
    margin-left: auto;
}
.block {
    background-color: grey;
}

.entitieCard span {
    width: 120px;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

/* ----------------------------------------------battle---------------------------------------------------- */

.battle {
    width: 200px;
    height: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: 1px solid var(--br);
    border-radius: 5px;
    background-color: var(--offbf);
    margin-right: 2px;
}
.battleLateral {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.battleLog {
    width: 137px;
    height: 210px;
    display: flex;
    flex-direction: column;
    border: 1px solid var(--br);
    border-radius: 5px;
    overflow-y: scroll;
    font-size: 14px;
    background-color: var(--offbf);
    margin-bottom: 2px;
    padding: 2px;
}
.battleLoot {
    width: 137px;
    height: 70px;
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    border: 1px solid var(--br);
    border-radius: 5px;
    background-color: var(--offbf);
    padding: 2px;
    gap: 1px;
}

/* -------------------------------------------exploration-------------------------------------------------- */

.exploration {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.location {
    width: 100px;
    height: 100px;
    display: flex;
    flex-direction: column;
    border: 1px solid red;
}
.exp-Engaged {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    border: 1px solid blue;
}

/* ----------------------------------------------avatar---------------------------------------------------- */

.avatar {
    width: 64px;
    height: fit-content;
    max-height: 96px;
}
.avatar img {
    width: 100%;
    height: auto;
}

/* --------------------------------------------progressBar------------------------------------------------- */

.progressContainer {
    width: 100px;
    height: 6px;
    background-color: gray;
    border: 1px solid var(--br);
    border-radius: 5px;
}
.progressBar {
    width: 0%;
    height: 100%;
    background-color: cyan;
    border-radius: 5px;
}

/* ------------------------------------------------nn------------------------------------------------------ */

.blur {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    z-index: 2;
}

::-webkit-scrollbar {
    display: none;
}


